* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-size: 18px;
    background-image: url(../images/money-black-wallpaper.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    color: white !important;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0.5rem;
}

.brand-name {
    font-size: 2rem !important;
}

.hero-title {
    font-size: 1.5rem;
}

.hero-text {
    font-size: 1.35rem;
}

.btn {
    font-size: 1.6rem !important;
}

.nav-tabs {
    border: none !important;
}

.nav-item {
    font-size: 1.3rem;
}


button.active {
    background-color: var(--bs-blue) !important;
    color: var(--bs-light) !important;
}

#myTabContent {
    width: 100% !important;
}

.tab-pane {
    width: 63% !important;
}

.btnLogin, 
.btnRegister {
    width: 100%;
}

form {
    box-shadow: 1px 1px 4px aliceblue, -2px -2px 4px aliceblue !important;
    padding: 12px;
}

/* FOOTER */
#footer {
    background-color: black;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-text{
    font-size: 1.1rem;
}