* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-size: 18px;
    background-image: url(../images/music-background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    color: white !important;
}

.hero-title {
    font-size: 1.5rem;
}

.hero-text {
    font-size: 1.35rem;
}

.btn {
    font-size: 1.6rem !important;
}